soap/cache/7f723bf1e56ffe99e4d66f579b521700553ce1bb.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:tns="http://localhost/ifa/soap/" targetNamespace="http://localhost/ifa/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsdl:types><s:schema targetNamespace="http://localhost/ifa/soap/"><s:complexType name="Book"><s:sequence><s:element minOccurs="1" maxOccurs="1" nillable="true" name="title" type="s:string" /><s:element minOccurs="1" maxOccurs="1" nillable="true" name="author" type="s:string" /></s:sequence></s:complexType></s:schema></wsdl:types><wsdl:message name="getBookSoapIn"><wsdl:part name="title" type="s:string" /></wsdl:message><wsdl:message name="getBookSoapOut"><wsdl:part name="return" type="tns:Book" /></wsdl:message><wsdl:portType name="MyServiceSoap"><wsdl:operation name="getBook"><wsdl:input message="tns:getBookSoapIn" /><wsdl:output message="tns:getBookSoapOut" /></wsdl:operation></wsdl:portType><wsdl:binding name="MyServiceSoap" type="tns:MyServiceSoap"><soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" /><wsdl:operation name="getBook"><soap:operation soapAction="http://localhost/ifa/soap/getBook" /><wsdl:input><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ifa/soap/" parts="title" /></wsdl:input><wsdl:output><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ifa/soap/" parts="return" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="MyService"><wsdl:port name="MyServiceSoap" binding="tns:MyServiceSoap"><soap:address location="http://localhost/ifa/soap/index.php" /></wsdl:port></wsdl:service></wsdl:definitions>